.menu,
.quiz,
.last {
  width: 500px;
  height: 400px;
  background-color: #c5fff8;
  border: solid 2px #1b1a55;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.option {
  background-color: rgb(146 34 236);
  width: auto;
  display: flex;
  flex-direction: column;
}
.option1 {
  background-color: rgb(221, 180, 255);
  width: auto;
  display: flex;
  flex-direction: column;
}

.submit {
  transition: width 2s, height 2s;
}
.submit:hover {
  width: 200px;
  height: 170;
}
